@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
header {
  position: relative;
  background-color: white;
  z-index: 5;
}

header .backgroundWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

@media screen and (min-width: 40rem) {
  header .backgroundWrapper {
    padding: 2rem 3rem;
  }
}

@media screen and (min-width: 50rem) {
  header .backgroundWrapper {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 64rem) {
  header .backgroundWrapper {
    padding: 0 4rem;
  }
}

@media screen and (min-width: 75rem) {
  header .backgroundWrapper {
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

header .backgroundWrapper #iconMobileMenu {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

@media screen and (min-width: 50rem) {
  header .backgroundWrapper #iconMobileMenu {
    display: none;
  }
}

header .backgroundWrapper #mobileNavBgOverlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  padding: 1.5rem;
  top: 5.5rem;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.5));
}

header .backgroundWrapper #mobileNavBgOverlay.displayNoneStartClass {
  display: none;
}

header .backgroundWrapper #mobileNavBgOverlay.closed {
  -webkit-animation: fadeOut 1s forwards;
          animation: fadeOut 1s forwards;
}

header .backgroundWrapper #mobileNavBgOverlay.opened {
  display: block;
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}

header .backgroundWrapper #mobileNavBgOverlay nav {
  padding: 1rem;
  border-radius: 4px;
  background-color: white;
  text-align: center;
  font-size: 1.2rem;
}

header .backgroundWrapper #mobileNavBgOverlay nav ul li {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

header .backgroundWrapper #mobileNavBgOverlay nav ul li:hover a {
  color: #31d35c;
}

header .backgroundWrapper #mobileNavBgOverlay nav ul li:active a {
  font-weight: 700;
}

header .backgroundWrapper #mobileNavBgOverlay nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

header .backgroundWrapper #desktopNavBlock {
  display: none;
  width: 350px;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .backgroundWrapper #desktopNavBlock ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .backgroundWrapper #desktopNavBlock ul li {
  position: relative;
}

header .backgroundWrapper #desktopNavBlock ul li:hover {
  cursor: pointer;
}

header .backgroundWrapper #desktopNavBlock ul li:hover::before {
  position: absolute;
  content: "";
  top: 2.6rem;
  left: 0;
  bottom: -1.9rem;
  right: 0;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to Right, #31d35c, #2bb7da);
}

header .backgroundWrapper #desktopNavBlock ul li a {
  color: #9698a6;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

header .backgroundWrapper #desktopNavBlock ul li a:active {
  color: #2d314d;
}

@media screen and (min-width: 50rem) {
  header .backgroundWrapper #desktopNavBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .backgroundWrapper .btnInvite {
  display: none;
}

@media screen and (min-width: 50rem) {
  header .backgroundWrapper .btnInvite {
    margin-top: 0;
    display: initial;
  }
}

main section#intro {
  position: relative;
  padding: 2rem 2rem 3rem 2rem;
}

@media screen and (min-width: 40rem) {
  main section#intro {
    padding: 3rem 3rem 4rem 3rem;
  }
}

@media screen and (min-width: 64rem) {
  main section#intro {
    padding: 4rem 4rem 5rem 4rem;
  }
}

main section#intro::before {
  position: absolute;
  content: "";
  background-image: url("../images/bg-intro-mobile.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 18rem;
  right: 0;
}

main section#intro::after {
  position: absolute;
  content: "";
  background-image: url("../images/image-mockups.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 18rem;
  right: 0;
}

@media screen and (min-width: 50rem) {
  main section#intro::before {
    background-image: url("../images/bg-intro-desktop.svg");
    background-position: left;
    left: 53%;
    bottom: 0;
  }
  main section#intro::after {
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    top: -3rem;
    left: 60%;
    bottom: -5rem;
    right: 0;
  }
}

@media screen and (min-width: 64rem) {
  main section#intro::after {
    top: -3rem;
    left: 62%;
    bottom: -9rem;
  }
}

@media screen and (min-width: 75rem) {
  main section#intro .flexWrapper {
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 50rem) {
  main section#intro .flexWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main section#intro .flexWrapper .imagesBlock {
  height: 26rem;
}

@media screen and (min-width: 30rem) {
  main section#intro .flexWrapper .imagesBlock {
    height: 34rem;
  }
}

@media screen and (min-width: 40rem) {
  main section#intro .flexWrapper .imagesBlock {
    height: 40rem;
  }
}

@media screen and (min-width: 50rem) {
  main section#intro .flexWrapper .imagesBlock {
    width: 100%;
    height: 16rem;
  }
}

main section#intro .flexWrapper .titleBlock {
  text-align: center;
}

@media screen and (min-width: 64rem) {
  main section#intro .flexWrapper .titleBlock {
    text-align: left;
  }
}

main section#why {
  padding: 2rem 2rem 3rem 2rem;
  text-align: center;
  background-color: #f3f4f6;
}

@media screen and (min-width: 40rem) {
  main section#why {
    padding: 3rem 3rem 4rem 3rem;
  }
}

@media screen and (min-width: 64rem) {
  main section#why {
    padding: 4rem 4rem 5rem 4rem;
  }
}

main section#why .titleBlock {
  padding: 1rem 2rem;
}

@media screen and (min-width: 64rem) {
  main section#why .titleBlock {
    padding-left: 0;
    text-align: left;
  }
}

@media screen and (min-width: 75rem) {
  main section#why .titleBlock {
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

main section#why .titleBlock p {
  margin-top: 1rem;
}

@media screen and (min-width: 40rem) {
  main section#why .flexWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 64rem) {
  main section#why .flexWrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

@media screen and (min-width: 75rem) {
  main section#why .flexWrapper {
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 40rem) {
  main section#why .flexWrapper .advantage {
    width: 45%;
  }
}

@media screen and (min-width: 64rem) {
  main section#why .flexWrapper .advantage {
    width: 23%;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main section#why .flexWrapper .advantage .logo {
  margin-top: 3rem;
}

main section#why .flexWrapper .advantage h3,
main section#why .flexWrapper .advantage p {
  margin-top: 1rem;
}

main section#articles {
  padding: 2rem 2rem 3rem 2rem;
  background-color: #fafafa;
}

@media screen and (min-width: 40rem) {
  main section#articles {
    padding: 3rem 3rem 4rem 3rem;
  }
}

@media screen and (min-width: 64rem) {
  main section#articles {
    padding: 4rem 4rem 5rem 4rem;
  }
}

main section#articles h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (min-width: 64rem) {
  main section#articles h2 {
    text-align: left;
  }
}

@media screen and (min-width: 75rem) {
  main section#articles h2 {
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 40rem) {
  main section#articles .articlesBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 64rem) {
  main section#articles .articlesBox {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 75rem) {
  main section#articles .articlesBox {
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

main section#articles .articlesBox article {
  margin: 1rem 0;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
}

@media screen and (min-width: 40rem) {
  main section#articles .articlesBox article {
    width: 40%;
  }
}

@media screen and (min-width: 64rem) {
  main section#articles .articlesBox article {
    width: 23%;
    margin-bottom: 0;
  }
}

main section#articles .articlesBox article .image {
  width: 100%;
  height: 12.5rem;
  overflow: hidden;
}

@media screen and (min-width: 64rem) {
  main section#articles .articlesBox article .image {
    height: 8rem;
  }
}

@media screen and (min-width: 75rem) {
  main section#articles .articlesBox article .image {
    height: 10rem;
  }
}

main section#articles .articlesBox article .image img {
  width: 100%;
}

main section#articles .articlesBox article .textBlock {
  padding: 2rem;
  padding-bottom: 3rem;
}

main section#articles .articlesBox article .textBlock .author {
  font-size: 0.6rem;
}

main section#articles .articlesBox article .textBlock h4 {
  margin: 0.8rem 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main section#articles .articlesBox article .textBlock h4:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main section#articles .articlesBox article .textBlock h4:active {
  color: #31d35c;
}

footer {
  padding: 3rem 0 4rem 0;
  background-color: #2d314d;
  text-align: center;
}

@media screen and (min-width: 64rem) {
  footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

footer .backgroudWrapper {
  width: 220px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 40rem) {
  footer .backgroudWrapper {
    width: 400px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "logoAndNav logoAndNav" "navbar2 navbar1" "btnAndCopyright btnAndCopyright";
  }
}

@media screen and (min-width: 64rem) {
  footer .backgroudWrapper {
    width: 100%;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logoAndNav navbar2 navbar1 . btnAndCopyright";
    justify-items: baseline;
  }
}

@media screen and (min-width: 75rem) {
  footer .backgroudWrapper {
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

footer .backgroudWrapper .gridBlockLeft {
  grid-area: logoAndNav;
}

@media screen and (min-width: 64rem) {
  footer .backgroudWrapper .gridBlockLeft {
    text-align: left;
    width: 100%;
  }
}

footer .backgroudWrapper .gridBlockLeft .logo svg #svgMainColor {
  fill: white;
}

footer .backgroudWrapper .gridBlockLeft .socialMedia {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 64rem) {
  footer .backgroudWrapper .gridBlockLeft .socialMedia {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 0;
  }
}

footer .backgroudWrapper .gridBlockLeft .socialMedia .logo {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .backgroudWrapper .gridBlockLeft .socialMedia .logo svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .backgroudWrapper .gridBlockLeft .socialMedia .logo:hover, footer .backgroudWrapper .gridBlockLeft .socialMedia .logo:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .backgroudWrapper .gridBlockLeft .socialMedia .logo:active svg path {
  fill: #31d35c;
}

footer .backgroudWrapper nav:nth-child(1) {
  grid-area: navbar1;
}

footer .backgroudWrapper nav:nth-child(2) {
  grid-area: navbar2;
}

@media screen and (min-width: 64rem) {
  footer .backgroudWrapper nav ul {
    padding-left: 5rem;
    text-align: left;
  }
}

footer .backgroudWrapper nav ul li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

footer .backgroudWrapper nav ul li:hover, footer .backgroudWrapper nav ul li:focus {
  cursor: pointer;
}

footer .backgroudWrapper nav ul li:hover a, footer .backgroudWrapper nav ul li:focus a {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .backgroudWrapper nav ul li:focus {
  outline: 1px solid limegreen;
}

footer .backgroudWrapper nav ul li:active a {
  color: #31d35c;
}

@media screen and (min-width: 64rem) {
  footer .backgroudWrapper nav ul li:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

footer .backgroudWrapper nav ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .backgroudWrapper .gridBlockRight {
  grid-area: btnAndCopyright;
}

@media screen and (min-width: 64rem) {
  footer .backgroudWrapper .gridBlockRight {
    justify-self: flex-end;
  }
  footer .backgroudWrapper .gridBlockRight button {
    margin-top: 0;
  }
}

footer .backgroudWrapper .gridBlockRight p {
  margin-top: 2rem;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2d314d;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  color: #2d314d;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

p {
  color: #9698a6;
  font-size: 0.8rem;
  line-height: 20px;
}

.btnInvite {
  position: relative;
  margin-top: 2rem;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 1.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to Right, #31d35c, #2bb7da);
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}

.btnInvite:hover, .btnInvite:focus {
  cursor: pointer;
  outline: 2px solid limegreen;
}

.btnInvite:active::before {
  position: absolute;
  content: "";
  inset: 0;
  border-radius: 1.5rem;
  background-color: white;
  opacity: 0.3;
}

.overflowHidden {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */