footer {
  padding: 3rem 0 4rem 0;
  background-color: $darkBlue;

  text-align: center;

  .backgroudWrapper {
    width: 220px;
    margin: 0 auto;

    .gridBlockLeft {
      .logo {

        svg #svgMainColor {
          fill: $white;
        }
      }

      .socialMedia {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
      }
    }

    nav {
      ul li {
        margin: 0.5rem 0;
        padding: 0.5rem;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          color: $white;
        }
      }
    }

    .gridBlockRight {
      p {
        margin-top: 2rem;
      }
    }
  }
}
