header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  @media screen and (min-width: 40rem) {
    padding: 2rem;
  }

  @media screen and (min-width: 50rem) {
    padding: 0 2rem;
  }

  @media screen and (min-width: 75rem) {
    width: 1200px;
    margin: 0 auto;
  }

  #iconMobileMenu {
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;

    @media screen and (min-width: 50rem) {
      display: none;
    }
  }

  #mobileNavBgOverlay {
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 1;
    padding: 1.5rem;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(255, 255, 255, 0.5)
    );
    &.displayNoneStartClass {
      display: none;
    }

    &.closed {
      animation: fadeOut 1s forwards;
    }

    &.opened {
      animation: fadeIn 1s forwards;
      display: block;
    }

    nav {
      text-align: center;
      border-radius: 4px;
      background-color: $white;
      padding: 1rem;
      font-size: 1.2rem;

      ul {
        li {
          margin: 0.5rem 0;
          padding: 0.5rem 0;

          a {
            display: inline-block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  #desktopNavBlock {
    display: none;
    width: 350px;
    height: 5rem;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      li {
        position: relative;
        
        &:hover {
          cursor: pointer;
                    
          &::before {
            position: absolute;
            content: "";
            background-color: red;
            top: 2.6rem;
            bottom: -1.9rem;
            left: 0;
            right: 0;
            border-radius: 3px;
            background-image: linear-gradient(
              to Right,
              $limeGreen,
              $brightCyan
            );
          }
        }

        a {
          color: $grayishBlue;
          transition: all 0.1s ease-in-out;
          &:active {
            color: $darkBlue;
          }
        }
      }
    }

    @media screen and (min-width: 50rem) {
      display: flex;
    }
  }

  .btnInvite {
    display: none;

    @media screen and (min-width: 50rem) {
      display: initial;
      margin-top: 0;
    }
  }
}
