main {
  section#intro {
    position: relative;

    @include sectionPadding;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../images/bg-intro-mobile.svg");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 18rem;
      right: 0;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/image-mockups.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 18rem;
      right: 0;
    }

    @media screen and (min-width: 50rem) {
      &::before {
        background-image: url("../images/bg-intro-desktop.svg");
        background-position: left;
        left: 53%;
        bottom: 0;
      }

      &::after {
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
        top: -3rem;
        left: 60%;
        bottom: -5rem;
        right: 0;
      }
    }

    @media screen and (min-width: 64rem) {
      &::after {
        top: -3rem;
        left: 62%;
        bottom: -9rem;
      }
    }

    .flexWrapper {
      @include largestWidthAndCenterMediaQuery;

      @media screen and (min-width: 50rem) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
      }

      .imagesBlock {
        height: 26rem;

        @media screen and (min-width: 30rem) {
          height: 34rem;
        }

        @media screen and (min-width: 40rem) {
          height: 40rem;
        }

        @media screen and (min-width: 50rem) {
          width: 100%;
          height: 16rem;
        }
      }

      .titleBlock {
        text-align: center;

        @media screen and (min-width: 64rem) {
          text-align: left;
        }
      }
    }
  }

  section#why {
    @include sectionPadding;
    text-align: center;
    background-color: $lightGrayishBlue;

    .titleBlock {
      padding: 1rem 2rem;

      @media screen and (min-width: 64rem) {
        padding-left: 0;
        text-align: left;
      }

      @include largestWidthAndCenterMediaQuery;

      p {
        margin-top: 1rem;
      }
    }
    .flexWrapper {
      @media screen and (min-width: 40rem) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
      }

      @media screen and (min-width: 64rem) {
        justify-content: space-between;
        text-align: left;
      }

      @include largestWidthAndCenterMediaQuery;

      .advantage {
        @media screen and (min-width: 40rem) {
          width: 45%;
        }

        @media screen and (min-width: 64rem) {
          width: 23%;
          margin: 0;
          justify-content: space-between;
        }

        .logo {
          margin-top: 3rem;
        }

        h3,
        p {
          margin-top: 1rem;
        }
      }
    }
  }

  section#articles {
    @include sectionPadding;
    background-color: $veryLightGray;
    h2 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      text-align: center;

      @media screen and (min-width: 64rem) {
        text-align: left;
      }

      @include largestWidthAndCenterMediaQuery;
    }

    .articlesBox {
      @media screen and (min-width: 40rem) {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      @media screen and (min-width: 64rem) {
        justify-content: space-between;
      }

      @include largestWidthAndCenterMediaQuery;

      article {
        margin: 1rem 0;
        border-radius: 8px;
        background-color: $white;
        overflow: hidden;

        @media screen and (min-width: 40rem) {
          width: 40%;
        }

        @media screen and (min-width: 64rem) {
          width: 23%;
          margin-bottom: 0;
        }

        .image {
          width: 100%;
          height: 12.5rem;
          overflow: hidden;

          @media screen and (min-width: 64rem) {
            height: 8rem;
          }

          @media screen and (min-width: 75rem) {
            height: 10rem;
          }

          img {
            width: 100%;
          }
        }
        .textBlock {
          padding: 2rem;
          padding-bottom: 3rem;

          .author {
            font-size: 0.6rem;
          }

          h4 {
            margin: 0.8rem 0;
            transition: all 0.2s ease-in-out;

            &:hover {
              cursor: pointer;
              transform: scale(1.1);
            }
            &:active {
              color: $limeGreen;
            }
          }
        }
      }
    }
  }
}
