@mixin btnRequestInvite {
  position: relative;
  margin-top: 2rem;
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 1.5rem;
  background-image: linear-gradient(to Right, $limeGreen, $brightCyan);
  color: $white;
  font-size: 1.1rem;
  font-weight: 700;

  &:hover,
  &:focus {
    cursor: pointer;
    outline: 2px solid limegreen;

    // &::before {
    //   position: absolute;
    //   content: "";
    //   inset: 0;
    //   border-radius: 1.5rem;
    //   background-color: $white;
    //   opacity: 0.3;
    // }
  }

  &:active {
    //background-image: linear-gradient(to Left, $limeGreen, $brightCyan);
    &::before{

      position: absolute;
      content: "";
      inset: 0;
      border-radius: 1.5rem;
      background-color: $white;
      opacity: 0.3;
    }
  }
}

@mixin sectionPadding {
  padding: 2rem 2rem 3rem 2rem;

  @media screen and (min-width: 40rem) {
    padding: 3rem 3rem 4rem 3rem;
  }

  @media screen and (min-width: 64rem) {
    padding: 4rem 4rem 5rem 4rem;
  }
}

@mixin largestWidthAndCenterMediaQuery {
  @media screen and (min-width: 75rem) {
    width: 1024px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}
